.AppContainer {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 1fr;
}

@media screen and (max-width: 650px) {
  .AppContainer {
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 650px) and (max-width: 1280px) {
  .AppContainer {
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
  }
}