
.NetworkVisualizerContainer {
  width: 60vmax;
  height: 100vmin;
  display: grid;
}

.NetworkVisualizer {
  width: 60vmax;
  height: 100vmin;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.NetworkStatus {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  margin: 16px;

  pointer-events: none;
}

.Mounted {
  transition: opacity 400ms ease-in;
  opacity: 1;
}

.Unmounted {
  transition: opacity 400ms ease-out;
  opacity: 0;
}


.NetworkVisualizerControls {
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

  padding: 16px;

  pointer-events: none;
}

@media screen and (max-width: 650px) {
  .NetworkVisualizerContainer {
    width: 100vmin;
  }
  .NetworkVisualizer {
    width: 100vmin;
  }
}
